body{
    background: #F5F5F5;
    margin: 0px;
    overflow:hidden;
}
.info{
    font-size: 16px;
    padding: 0 3.1% 0 3.1%;
    height: 137.2px;
    width: 100%;
    background: white;
    margin-top: 9.8px;
}
.ver{
    width: 93.7%;
    height: 45px;
    border-bottom: 1px solid #F5F5F5;
}
.ver .yzm{
    vertical-align: middle;
    display: inline-block;
    height: 45px;
    width: 23%;
    line-height: 45px;
}
.ver input{
    vertical-align: middle;
    display: inline-block;
    height: 43px;
    width: 41.6%;
    border: none;
}



.phone{
    width: 93.7%;
    height: 45px;
    border-bottom: 1px solid #F5F5F5;
}
.phone .mm{
    vertical-align: middle;
    display: inline-block;
    height: 45px;
    width: 23%;
    line-height: 45px;
}
.phone input{
    vertical-align: middle;
    display: inline-block;
    height: 43px;
    width: 70%;
    border: none;
}
.place{
    font-size: 16px;
}
.getver{
    background: #F7F7F7;
    line-height: 29.4px;
    font-size: 16px;
    display: inline-block;
    height: 29.4px;
    width: 31.2%;
    float: right;
    margin-top: 7.8px;
    color: #0AC28D;
    text-align: center;
    border: 1px solid #EBEBEB;
    border-radius: 4px;

}
.verifi{
    width: 93.7%;
    height: 45px;
}
.qrmm{
    vertical-align: middle;
    display: inline-block;
    height: 45px;
    width: 23%;
    line-height: 45px;
}
.verifi input{
    vertical-align: middle;
    display: inline-block;
    height: 43px;
    width: 70%;
    border: none;
}
.other{
    padding: 0 11.7px 0 11.7px;
    width: 93.7%;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: #0AC28D;
}
.register{
    display: inline-block;
    height: 40px;
    width: 20%;
    text-align: center;
}
.pwd{
    display: inline-block;
    height: 40px;
    width: 20%;
    float: right;
    text-align: center;
}
.login{
    background: #0AC28D;
    color: white;
    height: 45px;
    width: 93.7%;
    margin-top: 27.4px;
    margin-left: 3.1%;
    text-align: center;
    line-height: 45px;
    border-radius: 4px;
}
.prompt,.prompt_two{
    padding: 20px 5px 0 5px;
    position: absolute;
    height: 120px;
    width: 80%;
    background: white;
    top: 30px;
    left: 9.8%;
    border:1px solid #B1B1B1;
    z-index: 2;
}
.msg,.msg_two{
    height: 60px;
    width: 300px;
    text-align: center;
    word-wrap: break-word;word-break: break-all;overflow: hidden;

}
.ok,.ok_two{
    background: #0AC28D;
    color: white;
    height: 30px;
    width: 33.3%;
    margin-left: 33.3%;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;

}
.outside,.outside_two{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: none;
}



.prompt-con{
    padding: 20px 5px 0 5px;
    position: absolute;
    height: 120px;
    width: 80%;
    background: white;
    top: 30px;
    left: 9%;
    border:1px solid #B1B1B1;
}
.msg-con{
    height: 60px;
    width: 300px;
    text-align: center;
    word-wrap: break-word;word-break: break-all;overflow: hidden;

}
.ok-con,.no-con{
    background: #0AC28D;
    color: white;
    height: 30px;
    width: 33.3%;
    margin-left: 10%;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    display: inline-block;
}
.conf{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}