body{
    margin: 0px;
    /*padding: 20px 1.6% 0 1.6%;*/
}
.showTime{
    width: 100%;

}
.showTime .conkyes{
    /*padding: 2px 12px 2px 12px;*/
    padding: 2px 3.2% 2px 3.2%;
    position: relative;
    /*height: 40px;*/
    text-align: center;
    /*line-height: 40px;*/
    display: inline-block;
    /*margin: 0 25px 15px 0 ;*/
    margin: 15px 6.6% 0 1.33% ;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #9F9F9F;
    color: #9F9F9F;
}

.showTime .conkyes .delete{
    position: absolute;
    height: 20px;
    width: 20px;
    top:0px;
    right: -18px;
    z-index: 2;
}

.add{
    height: 40px;
    width: 100%;
    margin-top: 30px;
}
.add .addInpu{
    height: 32px;
    /*width: 245px;*/
    width: 65.3%;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #9F9F9F;
    margin-left: 1.33%;
}
.add .addbtn{
    display: inline-block;
    height: 38px;
    /*width: 65px;*/
    width: 17.3%;
    text-align: center;
    line-height: 40px;
    background: #0AC28D;
    border-radius: 15px;
    margin-left: 15px;
    color: white;
    border: none;
}
.save,.ret{
    height: 27px;
    line-height: 27px;
    /*width: 132.5px;*/
    width: 35.3%;
    background: #0AC28D;
    text-align: center;
    /*margin: 20px 0 0 121.25px;*/
    margin: 20px 0 0 32.3%;
    color: white;
    border-radius: 12px;

}

.outside{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: none;
}

.prompt{
    /*padding: 20px 5px 0 5px;*/
    position: absolute;
    height: 120px;
    width: 80%;
    background: white;
    top: 200px;
    left: 9.8%;
    border:1px solid #B1B1B1;
}
.prompt .msg{
    margin-top: 20px;
    height: 60px;
    /*width: 300px;*/
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.prompt .ok{
    background: #0AC28D;
    color: white;
    height: 30px;
    width: 33.3%;
    margin-left: 33.3%;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
}






/*.prompt-con{*/
    /*padding: 20px 5px 0 5px;*/
    /*position: absolute;*/
    /*height: 120px;*/
    /*width: 80%;*/
    /*background: white;*/
    /*top: 200px;*/
    /*left: 9%;*/
    /*border:1px solid #B1B1B1;*/
/*}*/
/*.msg-con{*/
    /*height: 60px;*/
    /*width: 300px;*/
    /*text-align: center;*/
    /*word-wrap: break-word;word-break: break-all;overflow: hidden;*/

/*}*/
/*.ok-con,.no-con{*/
    /*background: #0AC28D;*/
    /*color: white;*/
    /*height: 30px;*/
    /*width: 33.3%;*/
    /*margin-left: 10%;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*border-radius: 4px;*/
    /*display: inline-block;*/
/*}*/
/*.conf{*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/